h1{
    color: #444444;
}
h6{
    color: #777777;
}
.parent{
    height: 310px;
    background-color: #DEEEFA;
}
.child{
    background-color: #0071C3;
}
code{
    background-color: #777777;
}
.link{
    color: #0071C3;
}
button{
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 600;
    color: #444444;
    background-color: #F1D7D7;
    transition: all 1s;
}