h1{
    color: #444444;
}
h6{
    color: #777777;
}
.parent{
    height: 310px;
    background-color: rgba(222, 238, 250, 0.31);
}
.child{
    /* background-color: #690606; */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.11);
    background: linear-gradient(150deg,#C6DE41,rgba(121, 141, 8, 1));
    /* box-shadow: inset 2px 0px 6px #ffffff4b; */
}
.link{
    transition: 1s;
}
code{
    background: linear-gradient(#092A35, #05141a);
}
.enhance-green{
    color: rgba(53, 214, 155, 0.91);
}
button{
    border-radius: 200px;
    font-weight: 600;
    color: white;
    transition: all 1s;
    border: 1px solid white;
}
